@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Meal Planner</h1>
    <p>
        Create and manage your recipes and meals, and when you don't know what to eat - Let the Meal Randomizer decide for you!
    </p>
</div>
